In [14]:
# Import Standard Libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Import ML Libaries 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Import Dataset from sklearn
data = pd.read_csv('/content/Fuel_Consumption.csv')

In [15]:
# Load Iris Data
data

      MODELYEAR   MAKE  ... FUELCONSUMPTION_COMB_MPG CO2EMISSIONS
0          2014  ACURA  ...                       33          196
1          2014  ACURA  ...                       29          221
2          2014  ACURA  ...                       48          136
3          2014  ACURA  ...                       25          255
4          2014  ACURA  ...                       27          244
...         ...    ...  ...                      ...          ...
1062       2014  VOLVO  ...                       24          271
1063       2014  VOLVO  ...                       25          264
1064       2014  VOLVO  ...                       24          271
1065       2014  VOLVO  ...                       25          260
1066       2014  VOLVO  ...                       22          294

[1067 rows x 13 columns]

In [16]:
data.describe()

       MODELYEAR   ENGINESIZE  ...  FUELCONSUMPTION_COMB_MPG  CO2EMISSIONS
count     1067.0  1067.000000  ...               1067.000000   1067.000000
mean      2014.0     3.346298  ...                 26.441425    256.228679
std          0.0     1.415895  ...                  7.468702     63.372304
min       2014.0     1.000000  ...                 11.000000    108.000000
25%       2014.0     2.000000  ...                 21.000000    207.000000
50%       2014.0     3.400000  ...                 26.000000    251.000000
75%       2014.0     4.300000  ...                 31.000000    294.000000
max       2014.0     8.400000  ...                 60.000000    488.000000

[8 rows x 8 columns]

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MODELYEAR                 1067 non-null   int64
 1   MAKE                      1067 non-null   object
 2   MODEL                     1067 non-null   object
 3   VEHICLECLASS              1067 non-null   object
 4   ENGINESIZE                1067 non-null   float64
 5   CYLINDERS                 1067 non-null   int64
 6   TRANSMISSION              1067 non-null   object
 7   FUELTYPE                  1067 non-null   object
 8   FUELCONSUMPTION_CITY      1067 non-null   float64
 9   FUELCONSUMPTION_HWY       1067 non-null   float64
 10  FUELCONSUMPTION_COMB      1067 non-null   float64
 11  FUELCONSUMPTION_COMB_MPG  1067 non-null   int64
 12  CO2EMISSIONS              1067 non-null   int64
dtypes: float64(4), int64(4), object(5)
memory usage: 108.5+ KB

In [18]:
X = data[['ENGINESIZE',	'CYLINDERS']] 
y = data['CO2EMISSIONS']

# Splitting the Dataset 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.33, random_state= 101)

# Instantiating LinearRegression() Model
lr = LinearRegression()

# Training/Fitting the Model
lr.fit(X_train, y_train)

# Making Predictions
lr.predict(X_test)
pred = lr.predict(X_test)

pred

array([201.32556298, 259.89320424, 360.39041655, 211.80795574,
       355.14922017, 318.46084551, 267.75499881, 201.32556298,
       265.13440062, 249.41081148, 283.47858795, 249.41081148,
       355.14922017, 265.13440062, 214.42855393, 265.13440062,
       201.32556298, 262.51380243, 249.41081148, 336.80503284,
       265.13440062, 201.32556298, 211.80795574, 265.13440062,
       211.80795574, 315.84024732, 307.97845275, 342.04622922,
       265.13440062, 283.47858795, 185.60197384, 201.32556298,
       201.32556298, 214.42855393, 201.32556298, 201.32556298,
       201.32556298, 283.47858795, 201.32556298, 270.375597  ,
       196.0843666 , 265.13440062, 275.61679338, 265.13440062,
       185.60197384, 262.51380243, 249.41081148, 265.13440062,
       169.42114416, 249.41081148, 412.01074432, 201.32556298,
       313.21964913, 201.32556298, 190.84317022, 190.84317022,
       201.32556298, 190.84317022, 265.13440062, 344.66682741,
       201.32556298, 355.14922017, 331.56383646, 265.13440062,
       201.32556298, 185.60197384, 349.90802379, 262.51380243,
       267.75499881, 323.70204189, 262.51380243, 355.14922017,
       211.80795574, 201.32556298, 355.14922017, 262.51380243,
       249.41081148, 265.13440062, 283.47858795, 249.41081148,
       265.13440062, 307.97845275, 391.0459588 , 393.66655699,
       297.49605999, 249.41081148, 214.42855393, 190.84317022,
       249.41081148, 201.32556298, 349.90802379, 267.75499881,
       249.41081148, 188.22257203, 331.56383646, 323.70204189,
       262.51380243, 262.51380243, 196.0843666 , 265.13440062,
       201.32556298, 259.89320424, 211.80795574, 313.21964913,
       219.66975031, 265.13440062, 249.41081148, 331.56383646,
       201.32556298, 201.32556298, 249.41081148, 164.17994777,
       315.84024732, 262.51380243, 267.75499881, 196.0843666 ,
       219.66975031, 342.04622922, 318.46084551, 307.97845275,
       262.51380243, 342.04622922, 259.89320424, 355.14922017,
       265.13440062, 211.80795574, 265.13440062, 349.90802379,
       262.51380243, 201.32556298, 331.56383646, 254.65200786,
       201.32556298, 190.84317022, 262.51380243, 275.61679338,
       265.13440062, 297.49605999, 201.32556298, 201.32556298,
       265.13440062, 201.32556298, 265.13440062, 257.27260605,
       331.56383646, 412.01074432, 185.60197384, 412.01074432,
       185.60197384, 355.14922017, 190.84317022, 315.84024732,
       265.13440062, 211.80795574, 323.70204189, 265.13440062,
       265.13440062, 315.84024732, 355.14922017, 355.14922017,
       360.39041655, 315.84024732, 262.51380243, 262.51380243,
       342.04622922, 270.375597  , 249.41081148, 262.51380243,
       270.375597  , 196.0843666 , 214.42855393, 323.70204189,
       214.42855393, 355.14922017, 349.90802379, 201.32556298,
       196.0843666 , 196.0843666 , 265.13440062, 196.0843666 ,
       211.80795574, 307.97845275, 336.80503284, 201.32556298,
       211.80795574, 196.0843666 , 331.56383646, 334.18443465,
       249.41081148, 249.41081148, 201.32556298, 409.39014613,
       196.0843666 , 249.41081148, 265.13440062, 190.84317022,
       265.13440062, 336.80503284, 201.32556298, 249.41081148,
       211.80795574, 315.84024732, 257.27260605, 323.70204189,
       262.51380243, 323.70204189, 190.84317022, 323.70204189,
       214.42855393, 225.36818723, 275.61679338, 225.36818723,
       270.375597  , 214.42855393, 265.13440062, 190.84317022,
       265.13440062, 265.13440062, 201.32556298, 265.13440062,
       249.41081148, 307.97845275, 211.80795574, 225.36818723,
       196.0843666 , 265.13440062, 211.80795574, 355.14922017,
       219.66975031, 188.22257203, 267.75499881, 219.66975031,
       323.70204189, 211.80795574, 201.32556298, 196.0843666 ,
       190.84317022, 249.41081148, 267.75499881, 211.80795574,
       262.51380243, 331.56383646, 349.90802379, 267.75499881,
       349.90802379, 342.04622922, 267.75499881, 190.84317022,
       185.60197384, 249.41081148, 262.51380243, 196.0843666 ,
       342.04622922, 185.60197384, 315.84024732, 190.84317022,
       315.84024732, 267.75499881, 201.32556298, 313.21964913,
       185.60197384, 331.56383646, 214.42855393, 270.375597  ,
       331.56383646, 249.41081148, 336.80503284, 201.32556298,
       307.97845275, 185.60197384, 214.42855393, 334.18443465,
       201.32556298, 315.84024732, 313.21964913, 342.04622922,
       355.14922017, 265.13440062, 355.14922017, 331.56383646,
       201.32556298, 265.13440062, 254.65200786, 185.60197384,
       339.42563103, 262.51380243, 275.61679338, 307.97845275,
       201.32556298, 265.13440062, 211.80795574, 190.84317022,
       342.04622922, 262.51380243, 214.42855393, 185.60197384,
       355.14922017, 262.51380243, 188.22257203, 349.90802379,
       225.36818723, 323.70204189, 355.14922017, 190.84317022,
       201.32556298, 265.13440062, 188.22257203, 331.56383646,
       190.84317022, 262.51380243, 265.13440062, 331.56383646,
       307.97845275, 211.80795574, 164.17994777, 214.42855393,
       307.97845275, 265.13440062, 211.80795574, 270.375597  ,
       262.51380243, 267.75499881, 201.32556298, 315.84024732,
       265.13440062, 265.13440062, 267.75499881, 201.32556298,
       267.75499881, 336.80503284, 201.32556298, 323.70204189,
       355.14922017, 190.84317022, 201.32556298, 262.51380243,
       267.75499881, 318.46084551, 211.80795574, 265.13440062,
       323.70204189, 331.56383646, 265.13440062, 323.70204189,
       180.36077746, 201.32556298, 211.80795574, 190.84317022,
       185.60197384, 190.84317022, 249.41081148, 249.41081148,
       190.84317022])

In [19]:
print('Mean Absolute Error:', mean_absolute_error(y_test, pred))
print('Mean Squared Error:', mean_squared_error(y_test, pred))
print('Mean Root Squared Error:', np.sqrt(mean_squared_error(y_test, pred)))

Mean Absolute Error: 22.722535345231588
Mean Squared Error: 863.878214872199
Mean Root Squared Error: 29.39180523329928